<% if (currUser && showSubnav) { %>
<nav class="navbar navbar-expand-md bg-body-light border-bottom subnavbar">
  <div class="container-fluid">
    <!-- Right-aligned links -->
    <div class="ms-auto d-flex gap-3">
      <a class="nav-link text-dark fw-semibold" href="/events/new">
        <i class="bi bi-plus-circle"></i> Create Event
      </a>
      <a
        class="nav-link text-dark fw-semibold"
        href="/users/<%= currUser._id %>/bookings"
      >
        <i class="bi bi-journal-check"></i> My Bookings
      </a>
    </div>
  </div>
</nav>
<% } %>
